<ion-split-pane>
  <ion-menu>
    <ion-header style="background: black">
      <ion-toolbar>
        <ion-title style="color: black"> Configurações </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="pai">
      <div class="img">
        <img src="assets/tj.png">
      </div>
      <!-- ION LIST = LISTA DE MENUS-->
      <div class="filho">
        <ion-list>

          <!--*NGFOR LET PAGINA OF PAGINAS REFERENCIADO NO APP.COMPONENT.TS-->
          <ion-menu-toggle *ngFor="let pagina of paginas">
            <!--Realizar a "troca" de paginas atraves do routerLink, e a variavel 'pagina' nomeado no app.component.ts (public paginas)-->
            <ion-item [routerLink]="[pagina.url]">
              <ion-label style="color: black"> {{pagina.label}} </ion-label>
              <ion-icon slot="start" [name]="pagina.icon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle class="menu-sair">
          <ion-item (click)="sair()">
            <ion-label> Sair </ion-label>
            <ion-icon slot="start" name="log-out"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>