<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="image">
      <ion-title style="text-align: center">TJ Home</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="buttons-home">
  <div class="img">
    <img src="assets/tj.png">
  </div>

  <div class="botao">
    <h4 style="text-align: center">Botoes Liberados</h4>
    <div class="botoes-ligar-desligar">
      <!--id="1" #first ion-button click)="clicar(first)", cada elemento leva o mesmo id para ser identificado-->
      <!--na acao do click recebe o valor inserido no '#' para ter uma acao unica-->
      <ion-list class="buttons" *ngFor="let botao of listaBotao">
        <ion-button id="1" #first ion-button fill="outline" expand="block" (click)="handlerExecuteAction(first, botao)">
          {{botao.DESCRI_LIB}}
        </ion-button>
      </ion-list>
    </div>
  </div>
</ion-content>