.buttons-home{
    justify-content: center;
    align-items: center;
    display: flex;


    .img{
        height: 50%;
        width: 80%;
        position: fixed;
        top: 25%;
        left: 20%;
    }


    .botao{
        top: 0;
        width: 100%;
        position: absolute;
        z-index: 100;
        padding: 5.5%;

        
        // .sensores{
        //     background: rgb(22,123,131);
        //     background: linear-gradient(34deg, rgb(157, 248, 255) 6%, rgb(255, 255, 255) 40%, rgb(1, 243, 231) 84%);
        // }
        // .botoes-ligar-desligar{
        //     background: rgb(22,123,131);
        //     background: linear-gradient(34deg, rgb(157, 248, 255) 6%, rgb(255, 255, 255) 40%, rgb(1, 243, 231) 84%);
        // }
    }
}


