<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="image">
      <ion-title class="titulo-home">Casa Web</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="buttons-home">
  <div class="img" style="opacity: 0.1">
    <img src="assets/tj.png">
  </div>

  <div class="botao">


    <div class="botoes-ligar-desligar">
      <!--id="1" #first ion-button click)="clicar(first)", cada elemento leva o mesmo id para ser identificado-->
      <!--na acao do click recebe o valor inserido no '#' para ter uma acao unica-->
      <ion-list>
        <ion-item-sliding *ngFor="let lst of response">
          <ion-button id="1" #first ion-button fill="outline" expand="block" (click)="clicar(first)">
            {{add.descricao}}
          </ion-button>
        </ion-item-sliding>
      </ion-list>
    </div>


    <form [formGroup]="formBotoes" (ngSubmit)="clicar()">
      <div class="sensores">
        <H2>SENSORES</H2>
        <div class="sensefil">
          <ion-button id="1" #fifteenth ion-button fill="outline" expand="block" (click)="clicar(fifteenth)">
            Portão Rua
          </ion-button>
          <ion-button id="1" #sixteenth ion-button fill="outline" expand="block" (click)="clicar(sixteenth)">
            Portão Garagem
          </ion-button>
          <ion-button id="1" #seventeenth ion-button fill="outline" expand="block" (click)="clicar(seventeenth)">
            Porta Social
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>