<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurar IP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salvar()">
        <ion-icon name="checkmark" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="configuracao">
  <div class="img" style="opacity: 0.1">
    <img src="assets/tj.png">
  </div>

  <div class="cgfIP">
    <form [formGroup]="formIp">
      <ion-item>
        <ion-label position="stacked">IP</ion-label>
        <ion-input formControlName="ip" type="number"></ion-input>
        <ion-icon name="globe" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Porta</ion-label>
        <ion-input formControlName="porta" type="number"></ion-input>
        <ion-icon name="unlock" slot="start"></ion-icon>
      </ion-item>
    </form>
  </div>
</ion-content>